.full{
    height: 250px;
    position: relative;
    border: 1px solid white;
}


.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4px;
    justify-content: space-between;
    z-index: 30;
    top: 0;
    bottom: 0;
    color: white;
    pointer-events: none;
} 

.info h1{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2px;
}

.info div div{
    display: flex;
    align-items: center;
}

.info h2{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0px 8px;
}

.info>div:nth-child(2){
    padding: 4px;
}

.getRoom{
    position: absolute;
    background:rgb(61, 61, 61);
    height: 100%;
    width: 100%;
    opacity: .1;
    top: 0;
    z-index: 20;
    cursor: pointer;
    transition: .1s;
}

.getRoom:hover{
    opacity: 0;
}

.getRoom:active{
    opacity: .1;
    background:white;
}

.image{
    height: 100%;
    width: 100%;
}

