.full{
    position: relative;
    z-index: 10;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid var(--grey);
    color: var(--purple);
    min-height: 420px;
    max-width: 800px;
}

.top{
    position: relative;
    margin-bottom: 40px;
}

.top h1{
    font-size: 3rem;
    font-weight: 900;
}

.top h2{
    font-size: 2rem;
    font-weight: 500;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left,.right{
    width:100%;
    display: flex;
    height: 400px;
    flex-direction: column;
}

.left{
    align-items: center;
    justify-content: center;
}

.right{
    padding: 14px 0px 0px 0px;
}

.image{
    height: 260px;
    width: 260px;
}

.right input,.privacy div{
    color: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 100px;
    height: 46px;
    padding: 0px 20px;
    font-size: 2rem;
    font-weight: 400;
    margin: 8px 0px 15px 0px;
    width: 100%;
}

.privacy div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s;
}

.privacy div:hover{
    background:hsl(264, 61%, 95%) ;
}

.privacy h1{
    font-size: 2rem;
    font-weight: 500;
}

.right input::placeholder{
    color:hsl(264, 61%, 80%);
}

.right label{
    font-size: 2rem;
    font-weight: 500;
}

.politic{
    margin-top: 20px;
}

.left input{
    display: none;
} 

.button{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.button button{
    padding: 12px 20px;
    border: 2px solid var(--purple);
    color: var(--purple);
    background-color: white;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 100px;
    cursor: pointer;
    transition: .1s;
}

.button button:hover{
    background-color: var(--purple);
    color: white;
}

.timer{
    position: absolute;
    top: 30px;
    right: 30px;
}

.timer div{
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid var(--purple);
    color: var(--purple);
    background-color: white;
    padding: 9px 14px;
    border-radius: 100px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transition: .1s;
}

.timer .off:hover{
    background:hsl(264, 61%, 95%) ;
}

.timer .on:hover{
    opacity: .8;
}

.timer .on{
    color: white;
    background-color: var(--purple);
}

.error{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color:hsl(0, 30%, 85%) ;
    color: hsl(0, 80%, 35%);
    border: 2px solid hsl(0, 80%, 35%);
    border-radius: 5px;
    font-size: 1.4rem;
    position: absolute;
    top: 80px;
}

@media only screen and (min-width:800px){
    .info{
        flex-direction: row;
    }
    .right{
        width: 400px;
        padding: 14px 0px 0px 30px;
    }
    .left{
        width: 300px;
    }
}